@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <h1 class="display-4" >Start by adding questions.</h1>
    <h2 style="text-align:left">Why is MVC important?</h2>
    <p style="text-align:left">The MVC design pattern helps to enforce separation of concerns to 
    help you avoid mixing presentation logic, business logic, and data access logic together.
    Few significances are:
    <ul style="text-align:left">
        <li>Your files sizes are smaller.</li>
        <li>Your code is modular.</li>
        <li>It can be managed by multiple people.</li>

    </ul>
    </p>

</div>
